<%- include('partials/header') %>
<main class="edit_page">
  <section class="form edit_form">
    <div>
      <img src="/image/icon.png" alt="" />
      <h2>Edit Post</h2>
    </div>
    <form action="/submitedit" method="post" class="innerform">
      <input
        type="text"
        name="editedTitle"
        id="editedTitle"
        class="title"
        value="<%= editTitle %>"
      />
      <textarea name="editedContent" id="editedContent" class="content">
<%= editContent %></textarea
      >
      <input type="submit" value="Submit edit" class="submit_edit_btn" />
    </form>
  </section>
</main>

<%- include('partials/footer') %>
